@model PruebaTecnica.Models.Conductore

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Conductore</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dpi" class="control-label"></label>
                <input asp-for="Dpi" class="form-control" />
                <span asp-validation-for="Dpi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LicenciaVigente" class="control-label"></label>
                <input asp-for="LicenciaVigente" class="form-control" />
                <span asp-validation-for="LicenciaVigente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NoLicencia" class="control-label"></label>
                <input asp-for="NoLicencia" class="form-control" />
                <span asp-validation-for="NoLicencia" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Disponibilidad" /> @Html.DisplayNameFor(model => model.Disponibilidad)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TiempoRequerido" class="control-label"></label>
                <input asp-for="TiempoRequerido" class="form-control" />
                <span asp-validation-for="TiempoRequerido" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TiempoAyudantes" class="control-label"></label>
                <input asp-for="TiempoAyudantes" class="form-control" />
                <span asp-validation-for="TiempoAyudantes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ViaticosEquipo" class="control-label"></label>
                <input asp-for="ViaticosEquipo" class="form-control" />
                <span asp-validation-for="ViaticosEquipo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GastosRequeridos" class="control-label"></label>
                <input asp-for="GastosRequeridos" class="form-control" />
                <span asp-validation-for="GastosRequeridos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdVehiculo" class="control-label"></label>
                <select asp-for="IdVehiculo" class="form-control" asp-items="ViewBag.IdVehiculo"></select>
                <span asp-validation-for="IdVehiculo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
